.App {
  min-height: 100vh;
}

section {
  padding: 100px 0;
}

@media (max-width: 768px) {
  section {
    padding: 60px 0;
  }
  
  .section-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
